<div class="container my-3">
  <!-- todo input group -->
  <h1 class="py-3 text-center heading1">Diary App</h1>
  <div class="py-2 d-flex flex-column">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Enter Title</label
      >
      <input
        type="text"
        class="{{ isValidTitle ? 'form-control' : 'form-control is-invalid' }}"
        id="exampleFormControlInput1"
        [(ngModel)]="todoTitle"
        value="{{ todoTitle }}"
        (ngModelChange)="onChangeHandler()"
      />
      <div class="invalid-feedback">Please Enter Title.</div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Enter Description</label
      >
      <input
        type="text"
        class="{{ isValidDesc ? 'form-control' : 'form-control is-invalid' }}"
        id="exampleFormControlInput2"
        [(ngModel)]="todoDescription"
        value="todoDescription"
        (ngModelChange)="onChangeHandler()"
      />
      <div class="invalid-feedback">Please Enter Description.</div>
    </div>
    <button
      class="btn btn-primary align-self-end mb-3"
      (click)="addTodoHandler()"
    >
      Add New
    </button>
  </div>
  <!-- todo component -->
  <div *ngIf="this.todos.length === 0; else elseBlock" class="no_todo_banner">
    No Diaries to display
  </div>
  <ng-template #elseBlock>
    <div *ngFor="let todo of todos; index as i" class="py-2">
      <app-todo-item
        [todo]="todo"
        [i]="i"
        (deleteTodoEvent)="deleteTodo($event)"
        (doneTodoEvent)="doneTodo($event)"
      ></app-todo-item>
    </div>
  </ng-template>
</div>
